$prs-primary: mat-palette($mat-brown, 700, 300, 900);
$prs-accent: mat-palette($mat-amber, 500);
$prs-warn: mat-palette($mat-red, 600);

$prs-theme: mat-light-theme($prs-primary, $prs-accent, $prs-warn);