@charset 'utf-8';

@import 'base/variables.scss';
@import 'reset-style.scss';

@import '~@angular/material/theming';

@include mat-core();

@import 'themes/theme.scss';
@import 'themes/lighter.scss';
@import 'themes/darker.scss';

@import 'components/login.scss';

.app-default-theme {
    @include angular-material-theme($prs-theme);
}

.app-ligth-theme {
    @include angular-material-theme($prs-light-theme);
}

.app-dark-theme {
    @include angular-material-theme($prs-black-theme);
}

body {
    font-family: 'Roboto, "Helvetica Neue", sans-serif';
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}