.login-card-container {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 32px;

    mat-card {
        &:first-child {
            background: #fafafa;
        }

        mat-card-header  {
            margin: -24px -24px 24px -24px !important;
            padding: 24px;
            background: #eee;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);
            &.mat-card-header {
                flex-direction: column;
                align-items: center;
            }

            @media screen and(max-width: $break-header-small) {
                margin: -24px -16px 24px -16px !important;
            }
        }

        mat-card-content {
            &.mat-card-content {
                margin-bottom: 32px;
            }
            form {
                display: flex;
                flex-direction: column;
            }
            & .card-content-wraper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        mat-card-actions {
            margin: 0 0 16px 0 !important;
            & :first-child {
                width: 100%;
            }
        }

        mat-card-footer {
            padding: 4px 0;
            border-top: 1px solid rgba($color: #000000, $alpha: .12);
            &.mat-card-footer {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
    }

    a {
        text-decoration: none;
        color: #283593;
        font: -webkit-small-control;
    }

    & .mat-display-2 {
        margin: 0;
        text-align: center;
    }

    & .mat-h3 {
        color: #9e9e9e;
        margin: 16px 0 0 0;
        text-align: center;
    }

    & .mat-card-avatar {
        height: 80px;
        width: 80px;
    }

    & .card-brand-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }

    & .login-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & .footer-links {
            display: flex;
            margin: 64px 0 0 0;
            li {
                &:not(:last-of-type) {
                    position: relative;
                    margin: 0 20px 0 0;
                    &:after {
                        content: "\00b0";
                        position: absolute;
                        top: 4px;
                        right: -12px;
                    }
                }
            }
        }
    }
}